*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', 'Sans-serif';
}
a {
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: 'Nunito';
    font-display: auto;
    src: local('Nunito'), url(https://fonts.google.com/specimen/Nunito?selection.family=Nunito:300,400,600,700);
}